.nav{
  font-size: 90px;
  height:60px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:1rem;
  position:relative;
  top:0;
  z-index:10;
  color:white;
  
  @media screen and  (max-width:960px){
    transition:0.8s all ease;
  } 
  
}
.nav {
	-webkit-animation: nav 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: nav 7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes nav {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes nav {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
